@font-face {
  font-family: 'Vulf Mono';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/mono/Vulf_Mono-Light_web.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Vulf Mono';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/mono/Vulf_Mono-Light_Italic_web.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Vulf Mono';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/mono/Vulf_Mono-Regular_web.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Vulf Mono';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/mono/Vulf_Mono-Italic_web.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Vulf Mono';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/mono/Vulf_Mono-Bold_web.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Vulf Mono';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/mono/Vulf_Mono-Bold_Italic_web.woff") format("woff");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Vulf Mono';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/mono/Vulf_Mono-Black_web.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Vulf Mono';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/mono/Vulf_Mono-Black_Italic_web.woff") format("woff");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Vulf Sans';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/sans/Vulf_Sans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Vulf Sans';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/sans/Vulf_Sans-Light_Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Vulf Sans';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/sans/Vulf_Sans-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Vulf Sans';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/sans/Vulf_Sans-Medium_Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Vulf Sans';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/sans/Vulf_Sans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Vulf Sans';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/sans/Vulf_Sans-Bold_Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Vulf Sans';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/sans/Vulf_Sans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Vulf Sans';
  src: url("https://gitcdn.link/repo/OliverBrotchie/fonts/master/sans/Vulf_Sans-Black_Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }
.mono, .mono-italic, .mono-light, .mono-light-italic, .mono-bold, .mono-bold-italic, .mono-black, .mono-black-italic {
  font-family: "Vulf Mono";
  font-weight: 400; }
  .mono-italic {
    font-style: italic; }
  .mono-light, .mono-light-italic {
    font-family: "Vulf Mono";
    font-weight: 300; }
    .mono-light-italic {
      font-style: italic; }
  .mono-bold, .mono-bold-italic {
    font-family: "Vulf Mono";
    font-weight: 700; }
    .mono-bold-italic {
      font-style: italic; }
  .mono-black, .mono-black-italic {
    font-family: "Vulf Mono";
    font-weight: 900; }
    .mono-black-italic {
      font-style: italic; }

.sans, .sans-italic, .sans-light, .sans-light-italic, .sans-bold, .sans-bold-italic, .sans-black, .sans-black-italic {
  font-family: "Vulf Sans";
  font-weight: 400; }
  .sans-italic {
    font-style: italic; }
  .sans-light, .sans-light-italic {
    font-family: "Vulf Sans";
    font-weight: 300; }
    .sans-light-italic {
      font-style: italic; }
  .sans-bold, .sans-bold-italic {
    font-family: "Vulf Sans";
    font-weight: 700; }
    .sans-bold-italic {
      font-style: italic; }
  .sans-black, .sans-black-italic {
    font-family: "Vulf Sans";
    font-weight: 900; }
    .sans-black-italic {
      font-style: italic; }

/*# sourceMappingURL=fonts.css.map */
